<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328390235446-6pjt4gp2mbkpr84rqnsvpatiukrondru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328390235446-6pjt4gp2mbkpr84rqnsvpatiukrondru</string>
	<key>API_KEY</key>
	<string>AIzaSyBSq92zGk4etaft9miXhPHyKleKOi3yRc4</string>
	<key>GCM_SENDER_ID</key>
	<string>328390235446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fadyfawzy.flashChat</string>
	<key>PROJECT_ID</key>
	<string>fady-flash-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>fady-flash-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328390235446:ios:ca9984ab0e484310e18f97</string>
</dict>
</plist>